textarea {
	width: 80%;
	height: 40vh;
}

.content {
	padding: 1.5em;
	font-family: cursive;
	font-size: 1.5em;
	text-align: center;
	max-width: 900px;
}

[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block; /* For Firefox */
}

div[contenteditable=true]:empty {
  border: 1px dashed #AAA;
  padding: 0.5em;
  color: #AAA;
}